<link rel="stylesheet" href="/css/astro.css" type="text/css">

<h3 class="display-2 text-center">Astronomy Picture of the Day</h3>

<hr style="border-width: 2px;">

<br>

<div class="jumbotron">
  <header>
    <br>
    
    <nav>
      <ul class="nav_links">
        <br>
      <br>
        <li><a href="/mars">Mars</a></li>
        <li><a href="/solar">Planets</a></li>
        <li><a class="home-link" href="/home">Home</a></li>
        <li><a href="/iss">ISS</a></li>
        <li><a href="/astronomy">APOTD</a></li>
      </ul>
      <br>
      <br>
    </nav>
    
    <br>
  </header>

</div>

<hr style="border-width: 2px;">

<br>

{{!-- Title of picture --}}
{{#each response}}

<div class="text-center">
  <h3 class="display-2 text-center"> {{this.title}} </h3>
</div>
{{/each}}

{{!-- Date --}}
{{#each response}}
<div class="text-center">
  <h3 class="display-2 text-center">
    {{this.date}} </h3>
  <br>
</div>
{{/each}}


{{!-- Rendered picture --}}
<div class="text-center">

  {{!-- Remember to add this astro class if the pic is small, need to ask Jack about this one --}}
  {{!-- class="astro" --}}

  {{#each response}}
  <img src={{this.hdurl}}>
  <br>
  {{/each}}
</div>


{{!-- Paragraph detailing picture --}}
{{#each response}}
<div class="text-center">
<p2 class="display-2 text-center">
  {{this.explanation}}</p2>
  <br>
</div>
{{/each}}

<br>


{{!-- Jack please help me get rid of the 5 extra blank images that keep persisting on my page because of the #each loop, thank you --}}
{{!-- I could get rid of the style class but then my pic gets massive, I need it contained in this manner --}}