{{!-- This will be our container, and styling below will follow --}}

{{!-- This will be our container, and styling below will follow --}}
{{!-- Leaflet, probably not needed here --}}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css">

<div class="jumbotron">
  <h1 class="display-2 text-center">Gallery Page</h1>

</div>
<hr style="border-width: 2px;">

{{!-- Here we will put all of our home page stylings --}}
{{!-- Just a little fun --}}
{{!-- <img src="./images/mars-2.jpg"> --}}

{{{this.url}}}

<br>
<footer>
  <div class="bg-dark">
    <div class="text-center text-light">Data and Images provided courtesy of NASA</div>
  </div>
</footer>

{{!-- Leaflet scripts - Probably won't need them here --}}
<script src="http://code.jquery.com/jquery-2.0.3.min.js"> </script>
<script src="map/iss-now.js"> </script>
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

{{!-- Notes for work in progress --}}
