
<div id="overlay" class="overlay || js-loader">
  <span class="loader">
    <span class="loader__rocket">
      <svg width="164" height="164">
        <circle class="loader__circle" cx="78" cy="82" r="77" transform="rotate(-90, 80, 80)" />
      </svg>
      <i class="loader__icon">
        <svg class="loader__svg">
          <polygon
            points="21 26.24 15.15 21.04 15.15 6.22 10.51 0 5.86 6.22 5.86 17.46 5.85 21.04 0 26.24 0 36 5.86 30.79 5.86 32.39 10.51 32.39 15.15 32.39 15.15 30.8 21 36 21 26.24" />
        </svg>
      </i>
    </span>
  </span>
</div>

<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="icon" href="images/favicon.ico">
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;1,700&display=swap" rel="stylesheet">

<header>
  <img class="logo" src="/images/sv3.jpg" width="100" height="100" alt="logo">
  <nav>
    <ul class="nav_links">
      <li><a href="/mars">Mars</a></li>
      <li><a href="/solar">Planets</a></li>
      <li><a class="home-link" href="/home">Home</a></li>
      <li><a href="/iss">ISS</a></li>
      <li><a href="/astronomy">APOTD</a></li>
    </ul>
    <div class="navbar-item" id="user-name"></div>
  </nav>
</header>

<div id="container">
  <div id="main">
    <h1 class="type"></h1>
    <h2 class="quote"></h2>
    <div id="particles-js"></div>
  </div>
</div>

<footer>
  <div id="footer">

    <div class="social-media container has-text-centered">
      <a href="https://github.com/Chandler8/Space-Voyager" target="_blank"><i
          class="fab fa-github-square fa-4x"></i></a>
      <a href="https://www.nasa.gov/" target="_blank"><i class="fas fa-user-astronaut fa-3x"></i></a>
      <a href="" target="_blank"><i class="fab fa-reddit-square fa-4x"></i></a>
    </div>

    <div class="copyWrite-container">
      &copy;
      <script>document.write(new Date().getFullYear());</script>, The Flawless Squirrels
    </div>

  </div>
</footer>

<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<link rel="stylesheet" href="css/animate.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" cross-origin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script type="text/javascript">
  particlesJS.load('particles-js', '/particles-config/particles.json', function () {
    console.log("particles.json loaded")
  })
</script>
<script type="text/javascript">
  $(window).load(function () {
      $("#overlay").hide();
      var typed = new Typed('.type', {
      strings: ["Welcome Aboard", "Space Voyager 3.0"],
      typeSpeed: 150,
      backSpeed: 50,
      loop: false,
      showCursor: false,
      cursorChar: '|',
      autoInsertCss: true,
    });
    var quote = new Typed('.quote', {
      strings: ["“Space is for everybody. It’s not just for a few people in science or math, or for a select group of astronauts. That’s our new frontier out there, and it’s everybody’s business to know about space. – Christa McAuliffe”", "“Mankind is drawn to the heavens for the same reason we were once drawn into unknown lands and across the open sea. We choose to explore space because doing so improves our lives, and lifts our national spirit. So let us continue the journey.– George W. Bush'", "'The exploration of space will go ahead, whether we join in it or not, and it is one of the great adventures of all time, and no nation which expects to be the leader of other nations can expect to stay behind in the race for space.– John F. Kennedy'", "'“I know the sky is not the limit because there are footprints on the Moon — and I made some of them!– Buzz Aldrin'", "'Earth is a small town with many neighborhoods in a very big universe.– Ron Garan'", "'What everyone in the astronaut corps shares in common is not gender or ethnic background, but motivation, perseverance, and desire — the desire to participate in a voyage of discovery.– Ellen Ochoa'", "'Of course risk is part of spaceflight. We accept some of that to achieve greater goals in exploration and find out more about ourselves and the universe.– Lisa Nowak'", "'One of the basic rules of the universe is that nothing is perfect. Perfection simply doesn’t exist…..Without imperfection, neither you nor I would exist.– Stephen Hawking'", "'For every one billion particles of antimatter there were one billion and one particles of matter. And when the mutual annihilation was complete, one billionth remained – and that’s our present universe.– Albert Einstein'"],
      typeSpeed: 50,
      backSpeed: 4,
      loop: true,
      showCursor: false,
      cursorChar: '|',
      autoInsertCss: true,
    });
  });
</script>


  {{!-- local storage --}}
  <script>


    //check for user email in localStorage
    //if exists, use email to call getUserData and display first/last name in our div
    //else, redirect to sign up page (window.location)

    function getUserData(email) {
      // GET request to figure out which user is logged in
      // and update the HTML on the page
      if (email) {
        $.get("/api/users/" + email).then(function (data) {
          $("#user-name").text(data.name, data.lastname);
        });
      }
    }

  </script>