{{!-- Build out Mars API info here --}}

<h3 class="display-2 text-center">Welcome to Mars!</h3>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Mars</title>
  <link rel="stylesheet" href="/css/style.css" type="text/css">
  <link rel="stylesheet" href="/css/mars.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />

  {{!-- <link rel="stylesheet" href="/css/bulma.css" type="text/css"> --}}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  {{!-- Mars landing countdown --}}
  <script src="/js/moment-min.js"></script>
  <script src="/js/moment-precise-range-min.js"></script>
  <script src="/js/mars2020_landing.js"></script>

</head>


<hr style="border-width: 2px;">

{{!-- Container of clock, mars photo, and NAV --}}
<header>

  <div class="text-center">
    <div class="countdown_clock">
      <span class="category-title">COUNTDOWN TO LANDING ON MARS</span>
      <div class="countdown-container">

        <span class="month">"February</span>
        <span class="date">18</span>
        <span class="year">2021"</span>
      </div>
      <div class="countdown_time" id="countdown_time_mars2020_landing">
        <div class="time_days unit">148<span class="time_label">days</span></div>
        <div class="time_hours unit">13<span class="time_label">hrs</span></div>
        <div class="time_minutes unit">51<span class="time_label">mins</span></div>
        <div class="time_seconds unit">39<span class="time_label">secs</span></div>
      </div>
    </div>

  </div>

  <nav>
    <ul class="nav_links">
      <li><a href="/mars">Mars</a></li>
      <li><a href="/solar">Planets</a></li>
      <li><a class="home-link" href="/home">Home</a></li>
      <li><a href="/iss">ISS</a></li>
      <li><a href="/astronomy">APOTD</a></li>
    </ul>
  </nav>
</header>

<hr style="border-width: 2px;">

<body>

  {{!-- Rover welcome card --}}
  <div class="row">
    <div class="column">
      <div class="card">

        <div id="Quick-Facts" class="section">
          <div class="rover">
            <h2 class="subtitle" id="whoa">Perseverance would like to personally welcome you to mars, enjoy your stay!
            </h2>

            <br>
            <br>
            <div class="text-overlay right-box">
              <ul class="noBullets">
                <li>
                  <span class="fact-title fontBold">Mission Name: </span>
                  <span class="fact-text value">Mars 2020</span>
                </li>
                <li>
                  <span class="fact-title fontBold">Rover Name: </span>
                  <span class="fact-text value"><a
                      href="https://mars.nasa.gov/news/8622/virginia-middle-school-student-earns-honor-of-naming-nasas-next-mars-rover/"
                      target="_blank">Perseverance</a></span>
                </li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

    {{!-- Sol plot card --}}
    <div class="column">
      <div class="card" id="plotly">

        <div id="nasa_api_key"></div>
        <div id="buttons">Click Sol to plot its Wind Direction distribution:<br>
          <!-- Controls (buttons) will be inside this DIV -->
        </div>
        <div id="wd_plot" style="width: 480px; height: 480px;">
          <!-- Plotly chart will be drawn inside this DIV -->
        </div>
        <div id="wd_most_common">
          <!-- Most common wind direction will be inside this DIV -->
        </div>
        <div id="summary"></div>
        {{!-- To view all the relevant data, uncheck the below div --}}
        {{!-- <pre id="json"></pre> --}}

        <script>

          const nasa_api_key = 'https://api.nasa.gov/insight_weather/?api_key=0uKX4xKAlZRAVq4uqHlrUTbiHmQ7et6zW7QvbAi6&feedtype=json&ver=1.0';
          const cpoints = ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'];

          var one_sol = false;

          // Retrieve Mars weather data from NASA API as JSON stream
          // - Write data for each Sol
          // - Write JSON stream

          $.get(
            `https://api.nasa.gov/insight_weather/?api_key=0uKX4xKAlZRAVq4uqHlrUTbiHmQ7et6zW7QvbAi6&feedtype=json&ver=1.0`,
            data => {
              data.sol_keys.forEach(sol => write_sol_data(sol, data[sol]));
              $("#summary").append('<hr>');
            }
          ).always(
            function (data) {
              // Write JSON stream to #json PRE
              $("#json").text(JSON.stringify(data, null, 2));
              if (one_sol) {
                plot_sol_data(one_sol, data[one_sol]);
              }
            }
          );

          // Function to write data for one Sol

          function write_sol_data(sol, sol_obj) {
            // Summarize per-Sol temperature data to #summary DIV
            $('#summary').append(`On Sol <b>${sol}</b> the temperatures ranged from <b>${Math.round(sol_obj.AT.mn)}&deg;C</b> to <b>${Math.round(sol_obj.AT.mx)}&deg;C</b> with an atmospheric pressure of <b>${Math.round(sol_obj.PRE.mn)} Pa</b> to <b>${Math.round(sol_obj.PRE.mx)} Pa</b>.<br>`);
            one_sol = sol;
            // Add per-Sol button to #buttons DIV
            $('#buttons').append(
              $('<button>')
                .attr('id', sol)
                .on('click', e => plot_sol_data(sol, sol_obj))
                .text(sol)
            );
          }

          // Plot Wind Direction (WD) data for one Sol to #wd_plot DIV

          function plot_sol_data(Sol, sol_obj) {
            var wd_obj = sol_obj.WD;   // Wind direction object for Sol
            // fill compass points with sol data
            var vals = (new Array(16)).fill(0).map((empty, idx) => wd_obj[idx] ? wd_obj[idx].ct : 0);
            var wd_data = [{               // Load WD data as one-element array
              r: vals,
              t: cpoints,
              name: `Sol ${Sol}`,
              marker: { color: 'rgb(0,127,127)' },
              type: 'area'
            }];
            var wd_layout = {              // Load WD plot layout
              font: { size: 16 },
              title: `     Wind Direction Distribution on Sol ${Sol} at InSight Mars landing site`,
              legend: { font: { size: 16 } },
              radialaxis: { ticksuffix: '' },
              orientation: 270
            };
            Plotly.newPlot('wd_plot', wd_data, wd_layout);     // Plot wind rose
            // Add most common wind direction
            $('#wd_most_common').html(`Most common wind direction is ${wd_obj.most_common ? wd_obj.most_common.compass_point : 'undefined'}<hr>`)
          }
        </script>
      </div>
    </div>
  </div>

  {{!-- Perserverance Rover with info card --}}
  <div class="column">
    <div class="card">

      <img src="../gifs/redrover2.gif" height="520" width="1010">
      <br>
      <li>
        <span class="fact-title fontBold">Main Job: </span>
        <span class="fact-text value">The Perseverance rover will seek signs of ancient life and collect rock and
          soil samples for possible return to Earth.
        </span>
      </li>
      <li>
        <span class="fact-title fontBold">Launched: </span>
        <span class="fact-text value">July 30, 2020</span>
      </li>
      <li>
        <span class="fact-title fontBold">Launch Location: </span>
        <span class="fact-text value">Cape Canaveral Air Force Station, Florida</span>
      </li>
      <li>
        <span class="fact-title fontBold">Landing: </span>
        <span class="fact-text value">Feb. 18, 2021</span>
      </li>
      <li>
        <span class="fact-title fontBold">Landing Site: </span>
        <span class="fact-text value">Jezero Crater, Mars</span>
      </li>
      <li>
        <span class="fact-title fontBold">Mission Duration: </span>
        <span class="fact-text value">At least one Mars year (about 687 Earth days)</span>
      </li>
      <li>
        <span class="fact-title fontBold">Tech Demo: </span>
        <span class="fact-text value">The <a href="https://mars.nasa.gov/technology/helicopter" target="_blank">Mars
            Helicopter</a>
          is a technology demonstration, hitching a ride on the Perseverance rover.
        </span>
      </li>
      <li>
        <span class="fact-title fontBold"><a
            href="https://www.jpl.nasa.gov/news/press_kits/mars_2020/download/mars_2020_launch_press_kit.pdf"
            target="_blank">Launch Press Kit</a>
        </span>
      </li>
      </ul>
    </div>
  </div>


  {{!-- Mars infographic card with images --}}

  <div class="column">

    <div class="card">

      <div id="diagrams" class="diagram-background">
        <div class="wp-block-image">
          <figure class="aligncenter">
            <img loading="lazy" width="760" height="300"
              src="https://space-facts.com/wp/wp-content/uploads/mars-size.png" alt="Mars size compared to Earth">
            <figcaption id="cap">
              <span class="mars">Mars</span> size compared to <span class="earth">Earth</span></figcaption>
          </figure>
        </div>
        <div class="wp-block-image">
          <figure class="aligncenter">
            <img loading="lazy" width="760" height="50"
              src="https://space-facts.com/wp/wp-content/uploads/mars-orbit.png" alt="Mars distance from the Sun">

            <figcaption id="cap"><span class="mars">Mars</span> distance from the <span class="sun">Sun</span> and
              orbital
              eccentricity</figcaption>
          </figure>
        </div>

        <br>
        <ul>
          <li>
            <span class="fact-title fontBold">Diameter: </span>
            <span class="fact-text value"> Mars - 6,779 km | Earth - 12,742 km
            </span>
          </li>

          <li>
            <span class="fact-title fontBold">Mass: </span>
            <span class="fact-text value">Mars - 6.39 × 10^23 kg | Earth - 5.97 × 10^24 kg</span>
          </li>

          <li>
            <span class="fact-title fontBold">Moons: </span>
            <span class="fact-text value">Mars - 2 | Earth - 1</span>
          </li>

          <li>
            <span class="fact-title fontBold">Distance from Sun: </span>
            <span class="fact-text value">Mars - 227,943,824 km | Earth - 149,598,262 km</span>
          </li>

          <li>
            <span class="fact-title fontBold">Length of Year: </span>
            <span class="fact-text value">Mars - 687 Earth days | Earth - 365.24 days</span>
          </li>

          <li>
            <span class="fact-title fontBold">Temperature: </span>
            <span class="fact-text value">Mars -87 to -5 °C | Earth -88 to 58°C</span>
          </li>

          <br>

          <li>
            <span class="fact-title fontBold">Fun Facts: </span>
            <span class="fact-text value">One day Mars will have a ring.
              In the next 20-40 million years Mars’ largest moon Phobos will be torn apart by gravitational forces
              leading to the creation of a ring that could last up to 100 million years.</span>
          </li>

          <li>
            <span class="fact-title fontBold"></span>
            <span class="fact-text value">Sunsets on Mars are blue.
              During the martian day the sky is pinkish-red, this is the opposite of the Earth’s skies.</span>
          </li>

          <li>
            <span class="fact-title fontBold"></span>
            <span class="fact-text value">Mars has the largest dust storms in the solar system.
              They can last for months and cover the planet.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>

<footer>
  <div id="footer">

    <div class="social-media container has-text-centered">
      <a href="https://github.com/Chandler8/Space-Voyager" target="_blank"><i
          class="fab fa-github-square fa-4x"></i></a>
      <a href="https://www.nasa.gov/" target="_blank"><i class="fas fa-user-astronaut fa-3x"></i></a>
      <a href="" target="_blank"><i class="fab fa-reddit-square fa-4x"></i></a>
    </div>

    <div class="copyWrite-container">
      &copy;
      <script>document.write(new Date().getFullYear());</script>, The Flawless Squirrels
    </div>

  </div>
</footer>

{{!-- (.24 comes from NASA study about inaccuracies in the Georgian calender that keeps time) --}}

{{!-- That's one small step for martians, one giant leap for martian kind --}}