/* Home
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

li, a, button {
    font-family: 'Space Mono', monospace;
    font-weight:500;
    font-size:16px;
    color:#edf0f1;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding:30px 10%;
    background-color: #24252a;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.logo {
    cursor: pointer;
}

.nav_links {
    list-style:none;

}

.nav_links ul {
    text-align: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #4040a1;
}


#particles-js {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 20px;
}

body {
    min-height: 100%;
    overflow: auto;
    padding-bottom: 100px;;
}

body h1 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:'Space Mono', monospace;
    color: whitesmoke;
    font-size: 50px;
    text-shadow: 0 2px 5px rgba(0,0, 0, 5);
}

body h2 {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding-right: 30%;
    padding-left: 30%;
    font-family:'Space Mono', monospace;
    font-style: italic;
    color: whitesmoke;
    font-size: 10px;
    text-shadow: 0 2px 5px rgba(0,0, 0, 5);
}

.type {
    top: 50%;
}
.quote {
    top: 90%;
}

.home-link {
    font-weight: bolder;
    font-size: 30px;;
}

.footer {
    background: black;
    text-align: center;
    color: lightslategray;
    width: 100%;
    height:50px;
    position: relative;
    margin-top: -100px;
    clear: both;
}



.social-media{
    margin-top: 40px;
    
 }
 
 .social-media a:hover,
 .column a:hover{
 color: rgb(125, 125, 125);
 } */
