* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

li, a, button {
    font-family: 'Space Mono', monospace;
    font-weight:500;
    font-size:16px;
    color:#edf0f1;
    text-decoration: none;

}

header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align: center;
    padding:30px 10%;
    background-color: #24252a;
    background-image: url("/images/moon.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


.logo {
    cursor: pointer;
}

.nav_links {
    list-style:none;
    
}

.nav_links ul {
    text-align: center;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
   
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(29, 41, 216);
}
button {
    padding: 9px 25px;
    background: rgb(29, 41, 216);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

#particles-js {
    background-color: rgb(3, 4, 27);
    background-repeat: no-repeat;
    background-size: cover;
}

/* h3 {
    font-family:'Space Mono', monospace;
    color: whitesmoke;
    font-size: 50px;
    text-shadow: 0 2px 5px rgba(0,0, 0, 5);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
} */

html, body {
    height: 100%;
}

#container {
    min-height: 100%
}

#main {
    overflow: auto;
    padding-bottom: 100px;
}

body h1 {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family:'Space Mono', monospace;
    color: whitesmoke;
    font-size: 50px;
    text-shadow: 0 2px 5px rgba(0,0, 0, 5);
}

body h2 {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding-right: 30%;
    padding-left: 30%;
    font-family:'Space Mono', monospace;
    font-style: italic;
    color: whitesmoke;
    font-size: 10px;
    text-shadow: 0 2px 5px rgba(0,0, 0, 5);
}


.astro{
    max-width: 100%;
  }

  
h3 {
    font-family:'Space Mono', monospace;
    font-style: italic;
    color: whitesmoke;
    font-size: 10px;
    text-shadow: 0 2px 5px rgba(0,0, 0, 5);
}

.type {
    top: 50%;
}
.quote {
    top: 90%;
}

.home-link {
    font-weight: bolder;
    font-size: 30px;;
}

#footer {
    background: black;
    color: lightslategray;
    position: relative;
    height: 100px;
    margin-top: -100px;
    clear: both;
    text-align: center;
    padding: 50px 30px;
    
}


/* .social-media{
    margin-top: 40px;
    
 }
 
 .social-media a:hover,
 .column a:hover{
 color: rgb(125, 125, 125);
 } */
